@model List<WebPhoneEcommerce.Models.Curd.ViewModelCurd>
@{
    ViewData["Title"] = "DanhSach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<!--  Header Start -->
<header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                    <i class="ti ti-menu-2"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                    <i class="ti ti-bell-ringing"></i>
                    <div class="notification bg-primary rounded-circle"></div>
                </a>
            </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <li class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                        <div class="message-body">
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-user fs-6"></i>
                                <p class="mb-0 fs-3">My Profile</p>
                            </a>
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-mail fs-6"></i>
                                <p class="mb-0 fs-3">My Account</p>
                            </a>
                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                <i class="ti ti-list-check fs-6"></i>
                                <p class="mb-0 fs-3">My Task</p>
                            </a>
                            <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>



@* auto search script *@
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(document).ready(function () {
        $("#timkiem").keypress(function (event) {
            if (event.which == 13) {
                $("#btn-search").click();
            }
        });
    });
    
</script>
@* end auto search script *@



 <div class="container-fluid">
    <div class="container-fluid">
        <div class="card" style=" width: 1260px;padding-top: 55px;">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4"> Forms </h5>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li>
                            </ul>
                            <form class="d-flexc col-3 d-flex flex-row gap-2" style="align-items: baseline;"
                                  asp-area=""
                                  asp-controller="HomeAdmin"
                                  asp-action="DanhSach"
                                  method="get">
                                <input type="text" class="form-control" id="timkiem" name="timkiem" aria-describedby="tim kiem noi dung">
                                <button type="submit" id="btn-search" class="btn btn-primary" asp-controller="HomeAdmin" asp-action="DanhSach">Submit</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="card">
                    <div class="card-body">
                    <table class="table table-striped overflow-scroll">
                <thead>
                    <tr class="text-center">
                        <th scope="col">STT</th>
                        <th scope="col">Ảnh đại diện</th>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">Tên sản phẩm </th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Giá tiền</th>
                        @* <th scope="col">Trạng thái</th> *@
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td class="text-center">@i</td>
                                <td class="text-center">
                                   <img style="width: 50px; height: 50px;" src="@("http://localhost:7007" + item.Urlimg[0].Urlimg)"/>
                                </td>
                                <td class="text-center">@item.ProductId</td>
                                <td class="text-center">@item.ProductName</td>
                                <td class="text-center">@item.Description</td>
                                <td class="text-center">@item.UnitPrice</td>
                                @* <td class="text-center @((bool)item.IsActive ? "text-success" : "text-danger")">
                        @((bool)item.IsActive ? "Kích hoạt" : "Tạm khóa")
                        </td>
                                    *@
                                <td class="text-center">
                                     <a class="px-2" href="@Url.Action("Xoa", "Khoa", new { id = item.Id })"> 
                                    <a class="px-2" asp-area="Admin" asp-controller="HomeAdmin" asp-action="deleteSP" asp-route-id="@item.Id">
                                        <i class="fa fa-trash text-danger" aria-hidden="true"> </i>
                                    </a>
                                    <a class="px-2" asp-area="Admin" asp-controller="HomeAdmin" asp-action="updateSP" asp-route-id="@item.Id">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <caption>
                            Không có dữ liệu
                        </caption>
                    }
                </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
 



