@model List<WebPhoneEcommerce.Models.Curd.ViewModelCurd>
@{
    ViewData["Title"] = "DanhSach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center"> Danh Sách</h1>

@* <form class="col-3 d-flex flex-row gap-2" style="align-items: baseline;"
      asp-area=""
      asp-controller="HomeAdmin"
      asp-action="DanhSach"
      method="get">
    <div class="mb-3">
        <input type="text" class="form-control" id="timkiem" name="timkiem" aria-describedby="tim kiem noi dung">
    </div>
    <button type="submit" id="btn-search" class="btn btn-primary" asp-controller="HomeAdmin" asp-action="DanhSach">Submit</button>
</form> *@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
            </ul>
            <form class="d-flexc col-3 d-flex flex-row gap-2" style="align-items: baseline;"
                  asp-area=""
                  asp-controller="HomeAdmin"
                  asp-action="DanhSach"
                  method="get">
                <input type="text" class="form-control" id="timkiem" name="timkiem" aria-describedby="tim kiem noi dung">
                <button type="submit" id="btn-search" class="btn btn-primary" asp-controller="HomeAdmin" asp-action="DanhSach">Submit</button>
            </form>
        </div>
    </div>
</nav>

@* auto search script *@
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(document).ready(function () {
        $("#timkiem").keypress(function (event) {
            if (event.which == 13) {
                $("#btn-search").click();
            }
        });
    });
    
</script>
@* end auto search script *@




<table class="table table-striped overflow-scroll">
    <thead>
        <tr class="text-center">
            <th scope="col">STT</th>
            <th scope="col">Ảnh đại diện</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm </th>
            <th scope="col">Mô tả</th>
            <th scope="col">Giá tiền</th>
            @* <th scope="col">Trạng thái</th> *@
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-center">
                        <img style="width: 50px; height: 50px;" @* src=" 'https://localhost:7007/' + @item.Urlimg[0].Urlimg" *@ />
                    </td>
                    <td class="text-center">@item.ProductId</td>
                    <td class="text-center">@item.ProductName</td>
                    <td class="text-center">@item.Description</td>
                    <td class="text-center">@item.UnitPrice</td>
                    @* <td class="text-center @((bool)item.IsActive ? "text-success" : "text-danger")">
            @((bool)item.IsActive ? "Kích hoạt" : "Tạm khóa")
            </td> *@
                    <td class="text-center">
                        @* <a class="px-2" href="@Url.Action("Xoa", "Khoa", new { id = item.Id })"> *@
                        <a class="px-2" asp-area="Admin" asp-controller="HomeAdmin" asp-action="deleteSP" asp-route-id="@item.Id">
                            <i class="fa fa-trash text-danger" aria-hidden="true"> </i>
                        </a>
                        <a class="px-2" asp-area="Admin" asp-controller="HomeAdmin" asp-action="updateSP" asp-route-id="@item.Id">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <caption>
                Không có dữ liệu
            </caption>
        }
    </tbody>
    

    
</table>
 




