@model WebPhoneEcommerce.Models.Entity.Product
@{
    ViewData["Title"] = "updateSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>updateSP</h1>
<form action="/admin/Cap-Nhat" method="post">
    <div class="d-flex justify-content-center">
        <div class="col-6 px-5 pt-5 border rounded-3 shadow-lg">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="card-title fw-semibold mb-4">Hình ảnh sản phẩm</h5>
                        <div class="card">
                            <div class="d-flex justify-content-center align-items-center py-2">
                                <img id="showimage" style="width: 400px; height: 450px;" src="~/img/noimage.jpg" alt="..." />
                            </div>
                            <input type="file" class="form-control" id="hinhanh" name="hinhanh" onchange="readURL(this)" aria-describedby="image">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <h5 class="card-title fw-semibold mb-4">Thông tin sản phẩm</h5>
                        <div class="card">
                            <div class="card-header">
                           
                            </div>
                            <div class="card-body">
                                <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" aria-describedby="">

                                <label for="exampleInputEmail1" class="form-label">ID Sản Phẩm</label>
                                <input type="text" class="form-control" id="ProductId" name="ProductId" value="@Model.ProductId" aria-describedby="">

                                <label for="exampleInputEmail1" class="form-label">Tên Sản Phẩm</label>
                                <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model.ProductName" aria-describedby="">

                                <label for="exampleInputEmail1" class="form-label">Mô tả</label>
                                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" aria-describedby="">

                                <label for="exampleInputEmail1" class="form-label">Giá</label>
                                <input type="text" class="form-control" id="UnitPrice" name="UnitPrice" value="@Model.UnitPrice" aria-describedby="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h5 class="card-title fw-semibold mb-4">Bài viết </h5>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Mô tả chi tiế</h5>
                                <textarea name="message" style="width:350px; height:600px;">.......................</textarea>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="col-md-12 btn btn-primary"> Update </button>
            </div>
        </div>

    
        </div>
    </div>
</form>
<script>
    $('#UnitPrice').blur(function () { 
        $(this).formatNumber({ format: "#,###.00", locale: "us" });
    });
</script>
 